{{ $ := .root }}
{{ $page := .page }}

<!-- Accomplishments widget -->
<div class="row">
  <div class="col-12 col-lg-4 section-heading">
    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
  </div>
  <div class="col-12 col-lg-8">
    {{ range $idx, $key := sort $page.Params.item ".date_start" "desc" }}
      <div class="card experience course" height=10%>
        <div class="card-body">

          <!-- Certificate title -->
          {{- with .certificate_url -}}<a href="{{.}}" target="_blank" rel="noopener">{{- end -}}
          <h4 class="card-title exp-title text-muted my-0">{{.title | markdownify | emojify}}</h4>
          {{- with .certificate_url -}}</a>{{- end -}}

          <!-- Certificate institution -->
          <div class="card-subtitle my-0 article-metadata">
            {{- with .organization_url}}<a href="{{.}}" target="_blank" rel="noopener">{{end -}}
            {{- .organization | markdownify | emojify -}}
            {{- with .organization_url}}</a>{{end -}}
            {{with .description}}
            <div class="card-text"; margin-bottom=-2in>{{. | markdownify | emojify}}</div>
          {{end}}
        </div>
      </div>
    {{end}}
  </div>
</div>
